### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
%load_ext lab_black

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_players = len(purchase_data["SN"].unique())
total_players
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Run basic calculations - unique items, avg. price, total purchase and revenue
unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
number_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

In [5]:
unique_items

183

In [6]:
average_price

3.050987179487176

In [7]:
number_purchases

780

In [8]:
total_revenue

2379.77

In [9]:
# create a data frame of the results
pd.DataFrame(
    {
        "Number of Unique Items": [unique_items],
        "Average Price": [average_price],
        "Number of Purchases": [number_purchases],
        "Total Revenue": [total_revenue],
    }
)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# remove duplicates
purchase_data_df = purchase_data.drop_duplicates("SN")
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19

In [11]:
# count by gender
gender_count = purchase_data_df["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [12]:
# % by gender
gender_pct = purchase_data_df["Gender"].value_counts() / total_players * 100
gender_pct

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [13]:
# create dataframe for result
gender_demographic = pd.DataFrame(
    {"Total Count": gender_count, "Percentage of Players": gender_pct}
)
gender_demographic

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Gender Groupby
gender_purchase_data = purchase_data.groupby("Gender")
gender_purchase_data

In [15]:
# run calculations for purchase count
gen_purchase_count = gender_purchase_data["Purchase ID"].count()
gen_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [16]:
# run calculation of avg purchase price gender
gen_avg_purchase_price = gender_purchase_data["Price"].mean()
gen_avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [17]:
# run calculation of total purchase value
gen_total_purchase_value = gender_purchase_data["Price"].sum()
gen_total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [18]:
# run calculation of avg. total purchase per person by gender
gen_avg_total_purchase_person = gen_total_purchase_value / gender_count
gen_avg_total_purchase_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [19]:
gender_analysis_df = pd.DataFrame(
    {
        "Purchase Count": gen_purchase_count,
        "Average Purchase Price": gen_avg_purchase_price,
        "Total Purchase Value": gen_total_purchase_value,
        "Average Total Purchase per Person": gen_avg_total_purchase_person,
    },
)
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
# Bins for Ages
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40 +"]

In [21]:
# Categorize the existing players with age bins, use pd.cut()
purchase_data["Age Group"] = pd.cut(
    purchase_data["Age"], bins=age_bins, labels=age_labels
)
purchase_data["Age Group"]

0      20-24
1       40 +
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age Group, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40 +']

In [22]:
# groupby to get all numeric values of age
age_groupby = purchase_data.groupby("Age Group")
age_groupby

In [23]:
# Calculate the numbers
age_count = age_groupby["SN"].nunique()
age_count

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40 +      12
Name: SN, dtype: int64

In [24]:
# Calculate the % by age group
percent_age_group = round(age_count / total_players * 100, 2)
percent_age_group

Age Group
<10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
40 +      2.08
Name: SN, dtype: float64

In [25]:
# Create a summary data frame to hold the results
age_demographic = pd.DataFrame(
    {"Total Count": age_count, "Percentage of Players": percent_age_group}
)
age_demographic

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40 +                12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
# Bins for Ages
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40 +"]

In [27]:
# basic calculation by age for purchase count
purchase_count = age_groupby["Purchase ID"].count()
purchase_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40 +      13
Name: Purchase ID, dtype: int64

In [28]:
# basic calculation by age for avg. purchase price,
age_avg_purchase_price = age_groupby["Price"].mean()
age_avg_purchase_price

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40 +     2.941538
Name: Price, dtype: float64

In [29]:
# basic calculation by age for total purchase value
age_total_purchase_price = age_groupby["Price"].sum()
age_total_purchase_price

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40 +       38.24
Name: Price, dtype: float64

In [30]:
# basic calculation by age for avg. purchase total per person
age_avg_purchase_person = age_total_purchase_price / age_count
age_avg_purchase_person

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40 +     3.186667
dtype: float64

In [31]:
age_purchasing_analyis = pd.DataFrame(
    {
        "Purchase Count": purchase_count,
        "Average Age Purchase Price": age_avg_purchase_price,
        "Total Purchase Value": age_total_purchase_price,
    }
)
age_purchasing_analyis

           Purchase Count  Average Age Purchase Price  Total Purchase Value
Age Group
<10                    23                    3.353478                 77.13
10-14                  28                    2.956429                 82.78
15-19                 136                    3.035956                412.89
20-24                 365                    3.052219               1114.06
25-29                 101                    2.900990                293.00
30-34                  73                    2.931507                214.00
35-39                  41                    3.601707                147.67
40 +                   13                    2.941538                 38.24

In [32]:
age_purchasing_analyis.sort_values("Total Purchase Value", ascending=False).head(5)

           Purchase Count  Average Age Purchase Price  Total Purchase Value
Age Group
20-24                 365                    3.052219               1114.06
15-19                 136                    3.035956                412.89
25-29                 101                    2.900990                293.00
30-34                  73                    2.931507                214.00
35-39                  41                    3.601707                147.67

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
# group by SN to find top spenders
top_spenders = purchase_data.groupby("SN")
top_spenders

In [34]:
# purchase count
top_purchase_count = top_spenders["Purchase ID"].count()
top_purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [35]:
# average purchase price
top_averge_purchase_price = top_spenders["Price"].mean()
top_averge_purchase_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [36]:
# total purchase value
top_total_purchase_value = top_spenders["Price"].sum()
top_total_purchase_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [37]:
top_spenders = pd.DataFrame(
    {
        "Top Purchase Count": top_purchase_count,
        "Top Average Purchase Price": top_averge_purchase_price,
        "Top Total Purchase Value": top_total_purchase_value,
    }
)
top_spenders

,Top Purchase Count,Top Average Purchase Price,Top Total Purchase Value
SN,,,
Adairialis76,1,2.280000,2.28
Adastirin33,1,4.480000,4.48
Aeda94,1,4.910000,4.91
Aela59,1,4.320000,4.32
Aelaria33,1,1.790000,1.79
...,...,...,...
Yathecal82,3,2.073333,6.22
Yathedeu43,2,3.010000,6.02
Yoishirrala98,1,4.580000,4.58
Zhisrisu83,2,3.945000,7.89
Zontibe81,3,2.676667,8.03

In [38]:
# find top 5 spenders
top_five_spenders = top_spenders.sort_values(
    ["Top Total Purchase Value"], ascending=False
).head(5)
top_five_spenders

,Top Purchase Count,Top Average Purchase Price,Top Total Purchase Value
SN,,,
Lisosia93,5,3.792000,18.96
Idastidru52,4,3.862500,15.45
Chamjask73,3,4.610000,13.83
Iral74,4,3.405000,13.62
Iskadarya95,3,4.366667,13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [55]:
# Retrieve Item Id, Item Name and Price
popular_items = purchase_data[["Item ID", "Item Name", "Price"]]
popular_items

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778      101                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [57]:
# Group by Item ID and Item Name and get the count
popular_items_group = popular_items.groupby(["Item ID", "Item Name"])["Price"].count()
popular_items_group

Item ID  Item Name
0        Splinter                           4
1        Crucifer                           3
2        Verdict                            6
3        Phantomlight                       6
4        Bloodlord's Fetish                 5
                                           ..
179      Wolf, Promise of the Moonwalker    6
180      Stormcaller                        1
181      Reaper's Toll                      5
182      Toothpick                          3
183      Dragon's Greatsword                3
Name: Price, Length: 183, dtype: int64

In [58]:
# obtain item price
popular_item_price = popular_items.groupby(["Item ID", "Item Name"])["Price"].mean()
popular_item_price

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [61]:
# find total purchase value
total_purchase_value_pop = popular_items.groupby(["Item ID", "Item Name"])[
    "Price"
].sum()
total_purchase_value_pop

Item ID  Item Name
0        Splinter                            5.12
1        Crucifer                            9.78
2        Verdict                            14.88
3        Phantomlight                       14.94
4        Bloodlord's Fetish                  8.50
                                            ...
179      Wolf, Promise of the Moonwalker    26.88
180      Stormcaller                         3.36
181      Reaper's Toll                       8.30
182      Toothpick                          12.09
183      Dragon's Greatsword                 3.27
Name: Price, Length: 183, dtype: float64

In [66]:
most_pop_items = pd.DataFrame(
    {
        "Purchase Count": popular_items_group,
        "Popular Item Price": popular_item_price,
        "Total Purchase Value Popular": total_purchase_value_pop,
    }
)
most_pop_items

,,Purchase Count,Popular Item Price,Total Purchase Value Popular
Item ID,Item Name,,,
0,Splinter,4,1.28,5.12
1,Crucifer,3,3.26,9.78
2,Verdict,6,2.48,14.88
3,Phantomlight,6,2.49,14.94
4,Bloodlord's Fetish,5,1.70,8.50
...,...,...,...,...
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
180,Stormcaller,1,3.36,3.36
181,Reaper's Toll,5,1.66,8.30
182,Toothpick,3,4.03,12.09
183,Dragon's Greatsword,3,1.09,3.27

In [70]:
# find top 5 items
top_five_items = most_pop_items.sort_values(["Purchase Count"], ascending=False).head(5)
top_five_items

,,Purchase Count,Popular Item Price,Total Purchase Value Popular
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [72]:
# Sort the above table by total purchase value in descending order
# find top 5 items
most_profitable_items = most_pop_items.sort_values(
    ["Total Purchase Value Popular"], ascending=False
).head(5)
most_profitable_items

,,Purchase Count,Popular Item Price,Total Purchase Value Popular
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80